root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,yml,yaml,toml,md,ts,mts,nvmrc,npmrc}]
indent_size = 2

[*.rs]
indent_size = 4

[Makefile]
indent_style = tab
